<!-- <input type="text" > -->
<!-- <select name="" id="" [value]="value" (input)="valueChanged($event)">
  <option *ngFor="let register of data" [value]="register.id">{{ register.label }}</option>

</select> -->

<div class="selego">
  <div class="selego__search">
    <div *ngIf="!selectMult && searchSelect.icon" class="selego__icon">
      <img [src]="searchSelect.icon" alt="">
    </div>
    <div *ngIf="!selectMult" class="selego__searchBox" placeholder="Seleccionar" [attr.contenteditable]="selectMult ? false : true" [innerHTML]="searchSelect.label" (input)="searchItem($event)"></div>
    <div *ngIf="selectMult" class="selego__boxItemSelect">
      <div *ngFor="let itemSelect of itemsSelects" class="selego__itemSelect"><span>{{ itemSelect.label }}</span><span class="selego__removeItem" (click)="removeItem($event, itemSelect)">x</span></div>
    </div>
    <div class="selego__searchToggle" (click)="toggle()"></div>
  </div>
  <div class="selego__contentList" [ngClass]="{'toggle': toggleClass}">
    <div class="selego__list" *ngFor="let register of copyData; let i = index" (click)="selectItem($event, register)">
      <div *ngIf="selectMult">
        <input type="checkbox" [checked]="register.checked ? true : false" (click)="checkedItem($event, register);">
      </div>
      <div *ngIf="register.icon" class="selego__icon">
        <img [src]="register.icon" alt="">
      </div>
      <div>{{ register.label }}</div>
    </div>
  </div>
</div>