<!-- <input type="text" > -->
<!-- <select name="" id="" [value]="value" (input)="valueChanged($event)">
  <option *ngFor="let register of data" [value]="register.id">{{ register.label }}</option>

</select> -->

<div class="selego" #selego>
  <div class="selego__search" (click)="toggle($event)">

    <div *ngIf="!selectMult && searchSelect?.icon" class="selego__icon">
      <img [src]="searchSelect?.icon" alt="">
    </div>

    <div class="selego__boxItemSelect">

      <span *ngIf="selectMult" class="selego__items__selection">
        <span *ngFor="let itemSelect of itemsSelects" class="selego__item">
          <span class="selego__itemText">{{ itemSelect?.label }}</span><span class="selego__removeItem" (click)="removeItem($event, itemSelect)">x</span>
        </span>
      </span>

      <span class="selego__searchBox" *ngIf="!selectMult">
          {{ searchSelect?.label ? searchSelect?.label : 'Seleccionar' }}
      </span>

    </div>
    <div class="selego__searchToggle" [ngClass]="{'selego__searchToggle--open': toggleClass }"></div>
  </div>

  <div class="selego__contentList" #selegocontentList [ngClass]="{'toggle': toggleClass }">
      <div class="selego__searchBox">
          <input type="text" [(ngModel)]="selegoSearchBoxValue" #selegoSearchBox (input)="searchItem($event)" />
      </div>

      <div class="selego__listItem" #selegoList >
        <div [class]="'selego__list'"
              [ngClass]="{'checked': register.checked, 'active': copyDataAux[indexList] === register}"
              *ngFor="let register of copyDataAux; let i = index"
              (click)="selectItem($event, i);">

          <div *ngIf="selectMult">
            <input type="checkbox" [checked]="register.checked ? true : false" (click)="checkedItem($event, i);">
          </div>
          <div *ngIf="register?.icon" class="selego__icon">
            <img [src]="register?.icon" alt="">
          </div>
          <div>{{ register?.label }}</div>

        </div>
      </div>

  </div>

</div>
