[contenteditable=true]:empty::before {
    content: attr(placeholder);
    display: block;
}
* {
    box-sizing: border-box;
}
.selego {
    width: 100%;
    position: relative;
    color: #777;
}
.selego__search {
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
    border: 1.3px solid #1091f1;
    border-radius: 5px;
    padding-left: 5px;
}

.selego__boxItemSelect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    line-height: 1.8;
}

.selego__searchBox {
    padding: 4px;
}

.selego__searchBox input {
    width: 100%;
    border: 0px transparent;
    height: 100%;
    font-size: 1.2em;
    padding: 8px 2px;
}

.selego__items__selection {
    padding: 2px 10px;
    border-radius: 4px;
    color: #000;
}

.selego__items__selection .selego__item {
    width: 100px;
    display: inline-flex;
    align-items: center; 
    justify-content: flex-start;
    background: #1091f1;
    padding: 1px 4px;
    margin: 2px;
    border-radius: 4px;
    color: #fff;
}

.selego__items__selection .selego__itemText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 75px;
}

.selego__removeItem {
    width: 20px;
    text-align: center;
    margin-left: 5px;
    display: flex;
    background: #fff;
    border-radius: 30px;
    line-height: 1.1;
    color: #1091f1;
    align-items: center;
    justify-content: center;
}

.selego__searchToggle {
    border-color: #888 transparent transparent;
    border-width: 5px 5px 0px;
    border-style: solid;
    height: auto;
    margin: 0 6px;
    position: relative;
    cursor: pointer;
    transition: transform .4s cubic-bezier(0.15, 0.69, 0.79, 1.52);
}

.selego__searchToggle--open {
    transform: rotate(180deg);
}

.selego__contentList {
    display: block;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    border-right: 0px solid #4d90f9;
    border-radius: 5px;
    border-left: 0px solid #4d90f9;
    border-bottom: 0px solid #4d90f9;
    background: #fff;
    cursor: pointer;
}

.selego__listItem::-webkit-scrollbar {
    width: 1em;
}
 
.selego__listItem::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.selego__listItem::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.selego__list {
    padding: 10px;
    display: flex;
    align-items: center;
}

.selego__listItem {
    max-height: 200px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.selego__icon img{
    width: 1.5rem;
    margin-right: 5px;
}

.toggle {
    height: auto;
    overflow: visible !important;
    border-width: 1.3px;
}

.active {
    color: #fff;
    background: #5897fb;
}